# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[alias]
        co = checkout
        promote           = !$ZSH/bin/git-promote
        wtf               = !$ZSH/bin/git-wtf
        watch             = !$ZSH/bin/git-watch
        rank-contributors = !$ZSH/bin/git-rank-contributors
        count             = !git shortlog -sn
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[push]
        default = simple
[core]
        excludesfile = ~/.gitignore
        editor = subl -nw
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[merge "mergepbx"]
        name = XCode project files merger
        driver = mergepbx %O %A %B
[difftool]
        prompt = false
[help]
        autocorrect = -1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
